:root{
    --primary:rgb(57, 197, 143);
}

body{
    background-color: white;
    max-width: 1440px;
    margin: auto auto;
    opacity: 0.0;
    transition: .5s;
}

#body_.active{
    opacity: 1.0;
    transition: .5s;
}

.landing{
    padding: 1em 2em;
    padding-bottom: 5em;
}

.landing .section1 .cont{
    margin-top: 2em;
    background-color: rgba(248, 4, 4, 0.041);
    border-radius: 1em;
    padding: 4em;
    width: 55%;
}

.navbar .active{
    background-color: var(--primary);
    padding: .5em 1em;
    border-radius: 6px;
}

.navbar .active a{
    color: white !important;
}

.ft{
    font-size: 14px;
}

.cl{
    color: var(--primary);
}

.bg_{
    background-color: var(--primary);
}

.landing .section1 {
    position: relative;
}

.landing .section1 .cont h1{
    font-size: 4.5em;
}

.posit_{
    position: absolute;
    top: 0;
    right: 0;
}

.posit_ .sec{
    position: absolute;
    animation: sec infinite 6s;
    z-index: 100;

}

.posit_ .fif{
    animation: fif infinite 7s;
    z-index: 100;
    margin-top: 5em;

}

.posit_ .fourth{
    animation: fouth infinite 8s;
    z-index: 100;
    margin-top: 5em;

}

.posit_ .larg{
    width: 450px;
    min-width: 200px;
    animation: treeshake infinite 5s;
}

@keyframes fouth {
    0%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(-90px);
    }
    100%{
        transform: translateY(-40px);
    }
}


@keyframes fif {
    0%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(90px);
    }
    100%{
        transform: translateY(40px);
    }
}



@keyframes sec {
    0%{
        transform: translateX(40px);
    }
    50%{
        transform: translateX(90px);
    }
    100%{
        transform: translateX(40px);
    }
}

@keyframes treeshake {
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(-20px);
    }
}

.landing .section1 .input_container{
    background-color: white;
    padding: 2em 1em;
}

.landing .section1 .input_container input, .landing .section1 select{
    border: 1px solid rgb(219, 219, 219);
    padding: .7em;
    outline: none;
    width: 49%;
}

.landing .section1 .input_container button{
    background-color: var(--primary);
    color: white;
    width: 100%;
    padding: .9em;
}

.landing .section2 .cont{
    /* border: 1px solid rgb(228, 228, 228); */
    padding: 3em 1em;
    background-color: whitesmoke;
    margin-bottom: 3em;
    margin: .5em;
    width: 270px;
    min-width: 270px;
    border-radius: 3px;
}

.landing .section3 .tg{
    font-size: 18px;
    color: grey;
    height: fit-content;
    padding: .5em 1em;
    white-space: nowrap;
    transition: .1s;
}

.landing .section3 .tg:hover{
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    transition: .1s;
    border-radius: 10px;
}

.landing .section3 .tg.active{
    background-color: var(--primary);
    color: white;
    border-radius: 10px;
}

.section3 .cont_{
    border: 1px solid rgb(244, 244, 244);
    margin-bottom: 3em;
    border-radius: 10px;
    margin-right: 2em;
    overflow: hidden;
    width: 360px !important;
}

.section4 .cont_{
    width: 340px !important;
}

::-webkit-scrollbar{
    display: none !important;
}

.section3 .cont_ .img{
    width: 100%;
    overflow: hidden;
    height: 300px;
}

.section3 .cont_ .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing .section5 .img_{
    overflow: hidden;
}

._cbg{
    background-image: url("../img/patern.svg");
    background-repeat: no-repeat;
}

.landing .section5 .img_ img{
    width: 80%;
    object-fit: contain;
    margin-left: 4em;
}

.jobs{
    padding-bottom: 4em;
}

.jobs .navbar{
    padding: 1em 1em;
}

.jobs .section1{
    background-color: rgba(92, 255, 168, 0.092);
    width: 100%;
    padding: 2em;
}

.jobs .section1 .input_cont{
    background-color: white;
    width: 100%;
    padding: 1em 1em;
    border-radius: 10px;
    padding-bottom: 2em;
}

.jobs .section1 .input_cont button{
    background-color: var(--primary);
    color: white;
    padding: .5em 2em;
}

.jobs .section1 .input_cont input, .jobs .section1 .input_cont select{
    padding: .8em;
    border: none;
    border-bottom: 1px solid rgb(174, 174, 174);
    width: 25%;
    outline: none;
    margin: 1em;
}

.jobs .section2{
    padding: 1em 2em;
    margin-top: 4em;
    width: 100%;
}

.jobs .section2 .first{
    background-color: white;
    width: 250px;
    min-width: 250px;
    margin-right: 2em;
    border-radius: 10px;
    /* border: 1px solid rgb(232, 232, 232); */
}

.jobs .section2 .email__{
    padding: 2em .6em;
    background-color: rgba(255, 0, 0, 0.06);
    border-radius: 10px;
}

.jobs .section2 .__job__{
    color: white;
    padding: 3em .6em;
    background-color: rgb(81, 146, 255);
    border-radius: 10px;
    background-image: url("../img/bg-sidebar.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-bottom: 6em;
}

.xys_{
    border: 1px solid rgb(232, 232, 232);
    padding: 2em .6em;
    margin-bottom: 2em;
}

.jobs .section2 .first input{
    border: 1px solid rgb(197, 196, 196);
    padding: .6em;
    outline: none;
    border-radius: 3px;
    width: 100%;
}


.jobs .section2 .cont_{
    width: 250px !important;
}

.jobs .section2 .cont_ .img{
    height: 150px;
}

.pag_{
    background-color: rgba(92, 255, 168, 0.092);
    padding: 1em;
    margin: auto auto;
    width: fit-content;
    border-radius: 3px;
    margin-bottom: 4em;
}

.pag_ li a{
    background-color: white;
    padding: .2em 1em;
    border-radius: 2px;
    margin-right: 1em;
    color: var(--primary);
    transition: .1s;
}

.pag_ li a:hover{
    background-color: var(--primary);
    transition: .1s;
    color: white;
}

.jobs .btn-primary_{
    background-color: var(--primary);
    color: white;
}

.contact ._section1{
    padding: 1em 2em;
}

.contact ._section1 .head{
    background-color: rgb(51, 51, 51);
    padding: .8em 1em;
    color: white;
    border-radius: 6px;
}

.contact ._section1 .first{
    width: 30%;
    margin-right: 2em;
}

.contact ._section1 .sec{
    width: 65%;
}

.contact ._section1 ._sec__{
    padding: 1em;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
}

.contact ._section1 ._sec__ input, .contact ._section1 ._sec__  textarea{
    width: 50%;
    padding: .6em;
    outline: none;
    border: 1px solid rgb(220, 220, 220);
    margin-right: 1em;
    resize: none;
}

.contact ._section1 ._sec__  textarea{
    width: 100%;
}

.login{
    /* position: fixed; */
    background-color: var(--primary);
}

.login .form{
    background-color: var(--primary);
    width: 43%;
    height: 100vh;
    padding: 1em;

}

.login .form input{
    padding: .8em;
    width: 80%;
    border-radius: 6px;
    margin-top: 2em;
    border: none;
    outline: none;
}

.login .img{
    width: 60%;
    height: 100vh;
    overflow: hidden;
}

.__reg{    
    border-top-left-radius: 15em;
}

.__login{    
    border-top-right-radius: 15em;
}


.login .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.job_single .section1{
    background: url("../img/patern.svg") no-repeat;
    background-color: rgba(255, 0, 0, 0.025);
}

.job_single .j_first{
    width: 65%;
    margin-right: 3em;
}

.job_single .j_first .img{
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    height: 350px;
}

.job_single .j_first .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.job_single .j_sec{
    width: 30%;
    border-radius: 6px;
    height: fit-content;
    padding: 1em;
    border: 1px solid rgb(230, 230, 230);
}

._cv_{
    float: right !important;
}

._jenki p{
    margin-right: 1.5em;
}

.job_single ._skills p{
    background-color: rgba(58, 252, 155, 0.133);
    border-radius: 3px;
    padding: .5em 1em;
    margin-right: .5em;
    font-size: 12px;
}